body {
    background-color: #000;
    height: 150vh;
    margin: 0;
}

/* Opções de postagem */

.windowcenter {
    z-index: 2;
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: 0.5s;
    background-color: #000000af;
}

.windowoption {
    margin: 10% 35%;
    width: 400px;
    height: 350px;
    background-color: #272727;
    position: absolute;
    text-align: center;
    border-radius: 20px;
    line-height: 49px;
}

ul {
    margin: 0 -40px;
}

li {
    width: 400px;
    border-bottom: 1px solid #3a3a3a;
    list-style: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 10.8pt;
    cursor: pointer;
}

.denunciar {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 11pt;
    color: #cc3838;
}

.cancel {
    border: none;
}

/* [FIM] Opções de postagem */

.page {
    display: flex;
    flex-direction: row;
}


/* Começo Menu lateral */

.barlat {
    flex: 0.7;
    width: 220px;
    height: 100vh;
    position: fixed;
    border-right: 1px solid #222222c2;
    padding: 10px;
}


.barlat a {
    color: #fff;
    text-decoration: none;
    font: normal 11.5pt sans-serif;
    line-height: 55px;
}

.barlat img {
    width: 22px;
    margin-right: 15px;
}

.logo {
    margin-top: -2px;
}

.logo img {
    width: 102px;
    padding: 32px 6px;
}

.logo2{
    display: none;
}

.home,
.home a {
    margin-top: -20px;
    font-weight: bold;
}

.home,
.pesq,
.exp,
.reel,
.msg,
.notif,
.criar,
.perfil,
.mais {
    padding-left: 10px;
}

.home:hover,
.pesq:hover,
.exp:hover,
.reel:hover,
.msg:hover,
.notif:hover,
.criar:hover,
.perfil:hover,
.mais:hover {
    width: 95%;
    background-color: #22222281;
    border-radius: 6px;
    cursor: pointer;
}


/* Fim Menu lateral */
main{
    margin-left: 242px;
    flex: 2.6;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bot {
    width: 660px;
    position: absolute;
    top: 60px;
    display: flex;
}

.scrollButton {
    z-index: 1;
    position: absolute;
    width: 23px;
    height: 23px;
    cursor: pointer;
    display: none;
    border: none;
    border-radius: 50%;
    margin-top: -5%;
}

#scrollLeftButton {
    margin-left: 10px;
}

#scrollRightButton {
    margin-right: 10px;
}

.container {
    width: 660px;
    height: 100px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    scroll-behavior: smooth;
}
.story {
    width: 660px;
    height: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
}

.story img {
    width: 58px;
    border: 2.5px solid black;
    border-radius: 50%;
    margin: -2px;
}

.image {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    position: relative;
}

.image::before {
    content: " ";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom left, #8c00ff, #ff00bf, yellow);
    z-index: -1;
    margin: -4px;
    border-radius: 50%;

}

.sperf {
    cursor: pointer;
    margin-left: 10px;
}


.nomeus {
    width: 70px;
    height: 20px;
    color: #fff;
    font: normal 8pt sans-serif;
    text-wrap: nowrap;
    text-align: center;
    overflow: hidden;
    margin-top: 6px;
}

.cont {
    position: relative;
    display: flex;
    justify-content: center;
}

.cont2 {
    position: relative;
    display: flex;
    justify-content: center;
}

.post {
    width: 540px;
    height: 820px;
    border-bottom: 1px solid #222222b2;
}

.cabecalho {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 540px;
    height: 70px;
    color: #fff;
}

.nomeperf {
    width: 80px;
    margin-top: 8px;
    font: bold 10pt sans-serif;
}

.infomed {
    font: normal 8pt sans-serif;
}

.ftperf img {
    width: 40px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: -2px;
}

.ftperf {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.ftperf::before {
    content: " ";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom left, #8c00ff, #ff00bf, yellow);
    z-index: -1;
    margin: -4px;
    border-radius: 50%;
}

.confpost {
    width: 15px;
    margin: auto;
    margin-right: 4px;
    color: #fff;
    font-size: 22pt;
    cursor: pointer;
}

.postagem {
    width: 540px;
    height: 575px;
    border: 1.8px solid #313131;
    border-radius: 3px;
}

.postagem img {
    width: 100%;
    height: 100%;
}

.boxls {
    display: flex;
}

.licmcp {
    display: flex;
    gap: 20px;
    margin-top: 12px;
}

.licmcp img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.salva {
    margin: auto;
    margin-top: 12px;
    margin-right: 0;
    cursor: pointer;
}

.salva img {
    width: 25px;
}

.curtida {
    width: 86px;
    margin-top: 8px;
    color: #fff;
    font: bold 10.5pt sans-serif;
    cursor: pointer;
}

.descricao {
    display: flex;
    color: #fff;
}

.nomeperf {
    cursor: pointer;
}

.desc {
    font: normal 10pt sans-serif;
    margin-top: 8px;
}

.comentario {
    color: #696969;
    font: normal 10pt sans-serif;
    margin-top: 10px;
    cursor: pointer;
}

#txtcom {
    border: none;
    color: #ffffffa2;
    font: normal 10pt sans-serif;
}

.post input {
    width: 92%;
    margin-top: 20px;
    background-color: #000;
    font: normal 10.5pt sans-serif;
    border: 0;
}


.sugestao {
    flex: 1;
}

.sugest {
    width: 280px;
    height: 70vh;
    color: #fff;
}

.profile {
    display: flex;
    margin-top: 30px;
    font: bold 10pt sans-serif;
}

.nomeperf2 {
    margin: 15px 18px;
    cursor: pointer;
    font: bold 10pt sans-serif;
}

.nomeperf3 {
    min-width: 100px;
    margin: 15px 0 0 5px;
    overflow: hidden;
    cursor: pointer;
    font: bold 10pt sans-serif;
}

.subnome {
    color: #8b8b8b;
    font: normal 10pt sans-serif;
    margin: 35px -92px;
    font: normal 10pt sans-serif;
}

.subnome2 {
    color: #8b8b8b;
    font: normal 10pt sans-serif;
    margin: 36px -100px;
    font: normal 10pt sans-serif;
}

.ownprofile img{
    width: 55px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: -2px;
}

.ownprofile {
    width: 55px;
    height: 55px;
    position: relative;
}

.ownprofile::before {
    content: " ";
    position: absolute;
    inset: 0;
    background: #5e5e5e;
    z-index: -1;
    margin: -3px;
    border-radius: 50%;
}

.sugestprofile {
    width: 55px;
    padding: 10px;
    position: relative;
}

.ownprofile1 {
    width: 45px;
    border: 2.8px solid;
    border-radius: 50%;
    cursor: pointer;
}

.mudar {
    height: 20px;
    color: #0059ff;
    font: normal 9pt sans-serif;
    margin: 28px 178px;
    cursor: pointer;
}

.txtsugestao {
    font: bold 10pt sans-serif;
    color: #a5a5a5;
    margin-bottom: 30px;
}

.perfilsugest {
    display: flex;
    margin-top: -28px;
}
.sugestprofile2 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seguir {
    height: 20px;
    color: #0059ff;
    font: normal 9pt sans-serif;
    margin: 28px 150px;
    cursor: pointer;
}

.copy {
    margin-top: -50px;
    color: #696969;
    font: normal 8.7pt sans-serif;
    line-height: 20px;
    text-transform: lowercase;
}

.copy .copyright {
    margin-top: 10px;
    text-transform: uppercase;

}

@media (max-width: 1350px) {
    .barlat {
        width: 45px;
        display: flex;
        flex-direction: column;
        margin-left: 4px;
    }

    .logo2{
        display: block;
        margin-top: -10px;
        margin-bottom: -20px;
    }

    .logo2 img {
        width: 30px;
    }

    .change {
        display: none;
    }

}